* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  min-width: 500px;
}

.logoName {
  font-family: 'Pacifico', cursive;
}

.menuButtons {
  font-family: 'Langar', cursive;
  text-decoration: none;
}

.menuButtons:hover{
  border-bottom: 1px solid white;
}

@font-face {
  font-family: 'ChristmasBell';
  src: local('ChristmasBell'), url(./fonts/ChristmasBell.otf) format('otf');
}